body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-image:url(https://raw.githubusercontent.com/dryland33/Thinkful_Portfolio/master/AdobeStock_100000042-e1563305717660-686x371.jpeg);
}

header {
	height: 140px;
	background-color: #403933;
	background-image:url(https://raw.githubusercontent.com/dryland33/Thinkful_Portfolio/master/istockphoto-1138395421-612x612.jpg);
}

.logo {
  font-family: 'Nanum Pen Script';
  font-size: 72px;
  color: #888;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: 'Montserrat', serif;
	color: #888;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color: #403933;
	background-image:url(https://raw.githubusercontent.com/dryland33/Thinkful_Portfolio/master/istockphoto-1138395421-612x612.jpg);

}

section {
  padding: 0 25%;
  margin: 80px 0;
}

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #888;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
 color: #001430;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #001430; }
a:visited { color: #001430; }
a:hover { color: #001430; }
a:active { color: #001430; }
a:hover {
	text-decoration: underline;	
}

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

img, iframe { 
  width: 100%;	
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 

.border-top {
  padding-top: 80px;
  border-top: 2px solid #001430;
}
